<div class="container">
    <h3>
        Вашата поръчка е приета успешно!
    </h3>
    <h5>
        Моля, проверете електронната си поща за повече подробности.
    </h5>
    <a asp-action="Index" asp-area="" asp-controller="Home">Начална страница</a>
</div>