@model int
<h1>Грешка: @Model</h1>

<div class="row">
    <img src="~/images/error.png" style="width:300px;" />
</div>
<div class="row">
    <a asp-action="Index" asp-controller="Home" asp-area="">Към началната страница</a>
</div>