@{
    this.ViewData["Title"] = "Политика на поверителност";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-title">
                <h3>@this.ViewData["Title"]</h3>
            </div>
            <div class="std">
                <div style="text-align: justify;">
                    <p>&nbsp;1. Доставчикът Galilani е регистриран администратор на лични данни по смисъла на Закона за защита на личните данни и има право да събира, използва и обработва личните данни на Клиентите с оглед осъществяване на дейността си.</p>
                    <p>2. Доставчикът събира лични данни от Клиентските профили на Интернет страницата само със съгласието на Клиента и ги използва за следните цели:</p>
                    <ul>
                        <li>Осигуряване на Клиента на достъп до Съдържанието и предоставяните Услуги.</li>
                        <li>Осъществяване на контакт с клиента 63.във връзка със сключването на договор за продажба на предлаганите стоки или договор за изработка на продукт по поръчка на Клиента.</li>
                        <li>Изпращане на брошури и/ или известия по електронен път.</li>
                        <li>Статистически цели.</li>
                    </ul>
                    <p>2. Създаването на Профил на Интернет страницата се счита за съгласие на Клиента Доставчикът да събира и обработва личните му данни.</p>
                    <p>3. Доставчикът може без съгласието на Клиента да събира други данни, предоставени от уеб-браузъра, чрез който е осъществен достъпът до Интернет страницата и могат да бъдат използвани за подобряване на Услугите, предоставяни на Клиентите.</p>
                    <p>4. Клиентът има право да се противопостави на събирането и обработването на личните му данни от Доставчика и да изиска те да бъдат изтрити. По този начин Клиентът оттегля съгласието си по отношение на Документа и се отказва от всякакви права, описани в него. Оттеглянето на съгласието с Документа става по предвидения в него ред и има посочените в него последици. Оттеглянето на Клиента от Документа не може да има за последица отпадане на правата, които Доставчикът е има спрямо Клиента или за погасяване на задължения, които Клиентът има към Доставчика.</p>
                    <p>5. Клиентът може да промени предоставените от него лични данни по всяко време, в съответствие с изискването за истинност на предоставените данни.</p>
                    <p>6. Доставчикът се задължава да използва личните данни на Клиента само за целите, посочени в Документа, и да не ги предоставя на трети лица, освен в случаите, предвидени в закона при наличие на искане от компетентен държавен орган.</p>
                    <p>7. Доставчикът не отговаря за извършени от трети лица противозаконни действия, които са довели до компрометиране на сигурността на сървъра, съхраняващ личните данни на Клиентите.</p>
                    <p>8. Следните действия, ще бъдат считани за опит за злоупотреба с Интернет страницата или Съдържанието. Срещу лицата, които са ги извършили, ще бъдат предприети предвидените в закона действия:</p>
                    <ul>
                        <li>опит за достъп до данни за друг Клиент;</li>
                        <li>промяна на съдържанието на Интернет страницата или на съобщение, изпратено от Доставчика към неговите Клиенти;</li>
                        <li>повлияване на работата на сървъра/ сървърите на Интернет страницата;</li>
                        <li>предоставяне на достъп или споделяне с трети лица на Съдържание, изпратено от Доставчика към Клиенти, когато получилият съдържанието не е легитимният му получател.&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

