<div class="container">
    <h1>
        Кошницата е празна...
    </h1>
    <div class="align-content-end">
        <a asp-action="Index" asp-area="" asp-controller="Home"><i class="fa-arrow-right"></i> Назад</a>
    </div>
</div>