<div class="container">
    <div class="align-content-center">
        <h1>
            Нямате поръчки
        </h1>
    </div>
    <div class="align-content-end">
        <a asp-action="Index" asp-area=""  asp-controller="Home"><i class="fa-arrow-right"></i> Назад</a>
    </div>
</div>