/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
    /*Tabs
        *******************************************************/

.tabs {
    width: 80%;
    padding: 10%;
    margin: 0 auto;
    padding: 0 20px;
}

#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #tab-button li {
        display: table-cell;
        width: 20%;
    }

        #tab-button li a {
            display: block;
            padding: .5em;
            background: #eee;
            border: 1px solid #ddd;
            text-align: center;
            color: #000;
            text-decoration: none;
        }

        #tab-button li:not(:first-child) a {
            border-left: none;
        }

        #tab-button li a:hover,
        #tab-button .is-active a {
            border-bottom-color: transparent;
            background: #fff;
        }

.tab-contents {
    padding: .5em 2em 1em;
    border: 1px solid #ddd;
}



.tab-button-outer {
    display: none;
}

.tab-contents {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }

    .tab-select-outer {
        display: none;
    }

    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }
}

/* Rate styles
-------------------------------------------------- */

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

    .rating > input {
        display: none
    }

    .rating > label {
        position: relative;
        width: 1em;
        font-size: 3vw;
        color: #FFD600;
        cursor: pointer
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important
        }

    .rating > input:checked ~ label:before {
        opacity: 1
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4
    }

    /*************************************/
.user_name {
    font-size: 14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

/*******************************/

.comment-wrapper .panel-body {
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

/********************************/
.rating-checked .checked {
    color: orange;
}

/***********************/
.average-rating-checked .checked {
    color: orange;
}


/*********************************************/
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }
    table#cart tbody td .img {
        width: 100px;
        height: 100px;
    }


    table#cart tfoot td {
        display: block;
    }

        table#cart tfoot td .btn {
            display: block;
        }

    #shoppingImage {
        width: 100px;
        height: 100px;
    }
}

#shoppingImage {
    width: 100px;
    height: 100px;
}


/************************/
/* CSS used here will be applied after bootstrap.css */
.img-container {
    display: inline;
    position: relative;
}

.close {
    position: absolute;
    right: 0;
}

/************************************************/
.list-group .list-group-item {
    background-color: #fefbfc;
    border-left-color: #e0ccd6;
    border-right-color: #e0ccd6;
}

    .list-group .list-group-item:hover {
        background-color: #EECBCC;
    }

    .list-group .list-group-item:first-child {
        background-color: #763E4A;
        text-decoration:double;
        color:white;
    }

/* Search Menu
**************************************************/

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        width: 100%;
        padding-right: 3px;
        padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 0;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: absolute;
        right: 0;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #231316;
        cursor: unset;
        z-index: 2;
    }

.search-query:focus {
    z-index: 0;
}


/*Home page card style
    ****************************************/
.card .card-footer {
    background-color: #fefbfc;
}

.card .card-title a{
    color: #8e6c52;
}
.card .card-title .a:hover {
    color: #4c1a33;
}

.card .oldprice {
    text-decoration: line-through;
}