@model int
<a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
    <i class="fas fa-cart-plus"></i>Кошница 
    <span class="text-muted">(@Model продукта)</span>
</a>


